<!-- <h4>Top Heading</h4>
<div class="container">
    <mat-card class="card" *ngFor="let d of businessDisplay">
        <mat-card-header class="header">
            <div mat-card-avatar></div>
            <mat-card-title>{{d.title}}</mat-card-title>
            <mat-card-subtitle>by:{{d.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{d.urlToImage}} width="100%" class="image-class">
        <mat-card-content>
            <p class="news-description">{{d.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" href="{{d.url}}" target="_blank">Read More</a>
        </mat-card-actions>
    </mat-card>
</div> -->
<app-common-feed [newsDisplay]="businessDisplay"></app-common-feed>