<ngx-loading-bar color="white" height="5px" [includeSpinner]="false"></ngx-loading-bar>
<mat-toolbar >
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span style="text-align: center; margin-top: 15px; cursor: pointer;" routerLink="home">VVe News <br>
    <h6>Breaking News, Breaking Boundaries</h6>
  </span>
  <div class="example-spacer"></div>
  <a mat-button routerLink="trendingnews">TRENDING</a>
  <a mat-button routerLink="businessnews">BUSINESS</a>
  <a mat-button routerLink="technews">TECH</a>
  <a mat-button>MONEY & MARKETS</a>
  <a mat-button>LIFE</a>
  <a mat-button>TRAVEL</a>
  <a mat-button>EXECUTIVE</a>
  <button mat-raised-button (click)="login()"><i class="bi bi-person-circle"></i> Register</button>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  <p style="text-align: center; padding: 32px; background-color: #F5F5F5;"> &copy; 2023 VVe News</p>
</footer>