.card {
    max-width: 400px;
    margin: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: radial-gradient( circle 690px at 8.8% 19%,  rgba(72,81,86,1) 8%, rgba(187,187,187,1) 84.1% );

    .header {
        min-height: 150px;
        max-height: 150px;
    }

    .image-class {
        height: 60%;
    }

    .news-description {
        padding-top: 16px;
        min-height: 120px;
        max-height: 200px;
    }
}

.container>* {
    flex: 1 1 400px;
}