<mat-card>
    <mat-card-content>
        <h1>Forgot Password</h1>
        <p>Please enter your register email where we will send you the reset password link.</p>
        <mat-form-field appearance="fill" class="mat-button-base">
            <mat-label>Email</mat-label>
            <input matInput placeholder="V***@gmail.com" type="email">
        </mat-form-field>
        <button mat-raised-button color="primary" class="mat-button-base">Reset Password Link</button>
        <p>remember! back to <a style="color: red;" (click)="clicktologin()">Login</a></p>
    </mat-card-content>
</mat-card>